<!doctype html>
<html lang="en" class="scroll-smooth h-full">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="robots" content="noindex,nofollow" />
        <title>{% block title -%} {{ appConfig.NAME }}{%- endblock title %}</title>
        {% vite "resources/js/app.js" %}
        {% block head %}
        {% endblock head %}
    </head>
    <body class="h-full bg-gradient-to-br from-neutral-900 via-black to-neutral-800 flex items-center justify-center text-gray-200">
        {% block body %}{% endblock body %}
    </body>
</html>
